[Unit]
Description=SPM Privileged Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/spm/agent/spmd.py
ExecStartPost=-/usr/sbin/restorecon /run/spmd.sock
Restart=always
RestartSec=5
User=root
Group=squidmgr

[Install]
WantedBy=multi-user.target
