[Unit]
Description=SPM Privileged Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/spm/agent/spmd.py
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
